h1
    margin: 50px 0 30px

h2
    margin: 60px 0 20px

.error-page
    h1, h2
        margin: 0

.box
    display: inline-block

.buttons
    .button
        padding: 0 20px
        margin-right: 20px
.block
    .the-table
        tr
            $cols: (1: 90px, 2: 240px, 3: 220px, 4: 120px, 5: 140px, 6: 60px)
            @each $id, $col in $cols
                td:nth-child(#{$id})
                    min-width: $col !important
                    max-width: $col !important