$background-color: #F7F8FC
$primary-color: #FCB700
$header-element-margin: 15px 0 15px 0
.block-wrapper
    box-sizing: unset
    margin-bottom: 100px
.block
    h1
        margin: 19px 0 10px

    h2
        margin: 40px 0 20px

.box
    display: inline-block

.buttons
    .button
        padding: 0 20px
        margin-right: 20px
.table-wrapper
    margin-top: -90px
.block.list.booking
    margin: 0
.block.list
    padding-right: 30px
    .the-table
        tr
            $cols: (1: 90px, 2: 240px, 3: 220px, 4: 120px, 5: 140px, 6: 60px)
            @each $id, $col in $cols
                td:nth-child(#{$id})
                    min-width: $col !important
                    max-width: $col !important
.block.duplicates-list
    margin: 0 auto
    padding: 0 30px
.vertical-table
    .equal, .title
        color: $color-text-light
.raw-data
    display: flex
    justify-content: space-between
    margin: 0 300px 0 0
.global-markups
    h2
        margin-bottom: 25px

.tabs-navigation
    box-shadow: 0 .5px 0 $color-shadow-border

.tabs-navigation, .counterparty-balance-tabs-navigation
    position: relative
    margin: 15px 0 30px -70px
    display: flex
    justify-content: flex-start
    a
        font-size: 13px
        line-height: 16px
        text-align: center
        color: $color-text-light
        margin: 0 10px
        padding: 19px 14px
        position: relative
        &:first-child
            margin-left: 58px
        &:hover
            color: $color-text
        &.active
            cursor: default
            color: $color-brand
            &:after
                content: ' '
                height: 4px
                width: 100%
                background: linear-gradient(90deg, #F9A51B 0%, #FECE08 100%)
                border-radius: 25px
                position: absolute
                bottom: 0
                left: 0
.side-bar
    .content
        height: 535px
        padding-left: 50px
        padding-top: 150px
        background: white
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $background-color)
    display: flex
    background: linear-gradient(180.01deg, rgba(255, 255, 255, 0) 500px, $background-color 500px)
    flex-direction: column
    justify-content: flex-start
    width: 370px
    min-width: 329px
    top: 72px
.selected
    .sidebar-item
        width: 230px
        background: white
        color: $primary-color
        border-radius: 40px
.sidebar-item
    display: flex
    align-items: center
    font-size: 14px
    padding-left: 10px
    line-height: 50px
    span
        margin-left: 10px
        white-space: nowrap
.sidebar-item:hover
    width: 230px
    background: white
    border-radius: 40px
.page-content
    margin-left: 70px
.page-content-no-tabs
    margin: 40px 0 0 50px
.counterparty-header
    .header-info
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 150px
    margin: 0
    height: 170px
    h4
        margin: $header-element-margin
    button
        margin: $header-element-margin
.row-group
    display: flex
    .row
        width: 330px
        margin-right: 20px
.row.wide
    width: 680px
.row.middle-wide
    width: 447px
.row.slim
    width: 213px
.admin-app-header
    display: flex
    justify-content: center

.counterparty-balance-tabs-navigation
    background-color: $background-color
    margin-top: -29px
.button.size-medium
    width: 320px
.button.size-large
    width: 400px
.note-wrapper
    display: flex
    //width: 680px
    min-height: 90px
    background-color: #F7F8FC
    border-radius: 8px
    .content
        margin: 20px 26px 20px 26px
        h3
            margin-bottom: 10px
.note-text
    line-height: 16px
    font-size: 16px
    color: #777
.note-label
    font-weight: bold
.tool-bar
    padding-top: 40px
.section-slim
    width: 400px
.report-card
    margin: 20px 20px 20px 0
    width: 300px
    background: #F7F8FC
    border-radius: 8px
    padding: 20px 15px 10px 15px
.report-header
    display: flex
    height: 65px
    padding-bottom: 30px
    justify-content: space-between
.report-action
    font-size: 14px
    padding: 10px 0 15px 0
    font-weight: bold
    color: $primary-color
.report-period
    .icon-wrap
        float: left
    input
        width: 176px
        padding-left: 5px
        border: none
        background-color: inherit
.reports-list
    h1
        margin-bottom: 20px
    display: flex
    flex-direction: column
    margin-top: 20px
.vertical-toolbar-element
    margin: 10px 0 10px 0
.agent-link
    margin: 4px 20px 0 0
    line-height: 30px
    .avatar
        margin-right: 10px !important
.duplicates
    .note-wrapper
        width: 355px
.agency-balance
    .note-wrapper
        width: 370px
        margin: 0 0 320px
.text
    .key
        color: grey
    .value
        padding-left: 5px
    .text-row
        display: flex
        padding-bottom: 10px
    h3
        font-size: 14px
.welcome-block, .entitlement
    display: flex
    justify-content: space-between
    background: linear-gradient(to right, rgba(255, 255, 255, 0), $background-color)
    width: 1000px
    height: 150px
    h2
        font-size: 20px
        margin: 0
        padding: 30px
    div
        padding: 0 30px 0 30px
.welcome-block
    margin-bottom: 30px
