@import "constants"
.modal
  color: #231F20
  max-width: 800px
  border-radius: 8px

.confirmation-modal
  display: flex
  padding-left: 10px
  .point
    font-weight: bolder
  .icon-wrapper
    height: 80px
    box-shadow: .5px 0 0 $color-shadow-border
  i
    padding-right: 65px
    padding-top: 35px
  h3
    font-size: 14px
    font-weight: 600
    padding-bottom: 7px
  .confirm-actions
    display: flex
    justify-content: space-around
    div
      cursor: pointer
      &:hover
        color: $primary-color
.confirmation-modal.confirm-small
  display: block
  padding: 10px 18px 0 18px
  width: 276px
  .confirm-content
    padding-top: 9px
    .text-space
      div
        padding-right: 50px
  .confirm-actions
    justify-content: flex-end
    padding: 12px 18px 15px 0
.confirmation-modal.confirm-medium
  width: 446px
  .icon-wrapper
    height: 117px
    margin: 18px 0 0 15px
    i
      width: 85px
      margin: 8px 0 0 -21px
  .confirm-content
    margin: 26px 0 0 25px
    .text-space
      div
        width: 250px
        overflow-wrap: break-word
  .confirm-actions
    margin: 25px 0 32px 83px
    div
      text-align: center
      width: 115px
    div:last-child
      margin-right: 11px
.confirmation-modal.confirm-large
  width: 630px
  padding-left: 0
  .confirm-content
    .header-wrapper
      height: 70px
      box-shadow: 0 .5px 0 $color-shadow-border
    h2
      text-align: center
      padding-top: 22px
      font-size: 20px
      font-weight: 500
    .confirm-text
      font-size: 14px
      padding: 35px 25px 35px 25px
      box-shadow: 0 .5px 0 $color-shadow-border
    .confirm-actions
      height: 70px
      padding-top: 12px
      div
        font-weight: 500
        font-size: 15px
        padding-top: 16px
        width: 315px
        height: 46px
        text-align: center
      div:first-child
        box-shadow: .5px 0 0 $color-shadow-border
.confirm-huge
  .confirm-text
    box-shadow: none !important
  .form
    .field
      width: 445px
      margin: -10px 0 0 10px
  .button
    margin: 15px 0 15px 9px
    width: 450px
    border-radius: 5px
    background-color: $background-color
    border: none
  .footnote
    font-size: 11px
    margin-left: 42px
    margin-bottom: 15px